<div id='login'>
<div class="logo">
g@
</div>
<div id="login_form">
<%= bootstrap_form_for :user, url: login_path do |u| %>
	<%= u.text_field :email, placeholder: "E-mail." %>
	<%= u.password_field :password, placeholder: "Password." %>
	<%= u.primary "Login." %> 
	<button type="button" class='btn btn-primary' data-toggle="modal" data-target="#signUp">
	Sign Up!
	</button>
<% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h2>Create an account!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      	<%= bootstrap_form_for @user, url: signup_path do |n| %>
      		<%= n.text_field :user_name, placeholder: "Desired user-name." %> 
          <%= n.file_field :picture %>
    			<%= n.text_field :email, placeholder: "E-mail." %>
    			<%= n.password_field :password, placeholder: "Password." %>
          <%= n.password_field :password_confirmation, placeholder:"Re-type password." %> 
          <div class="modal-footer">
          <%= n.primary "g@ me!" %>
      </div>
			<% end %>
      </div>
    </div>
  </div>
</div>
</div>