<div id='login' class="col-sm-4 col-sm-offset-4">
<div class="logo">
g@
</div>
<div id="login_form">
<%= bootstrap_form_for :user do |u| %>
	<%= u.text_field :email, placeholder: "E-mail." %>
	<%= u.text_field :password, placeholder: "Password." %>
	<%= u.primary "Login." %> 
	<button type="button" class='btn btn-primary' data-toggle="modal" data-target="#signUp">
	Sign Up!
	</button>
<% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<h2>Create an account!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      	<%= bootstrap_form_for :user do |n| %>
      		<%= n.text_field :name, placeholder: "Name." %> 
			<%= n.text_field :email, placeholder: "E-mail." %>
			<%= n.text_field :password, placeholder: "Password." %>
			<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">g@ me!</button>
      </div>
    </div>
  </div>
</div>
</div>