<div class="col-sm-3 pull-left" id="sidebar">
	<%= render "shared/sidebar" %>
</div>
<div class="col-sm-9 pull-right" id="mainView">
	<div id="userShowInfo">
		<%= cl_image_tag(@user_show.picture, :width => 140, :height => 140, :crop => :fill) %>
		<h1><%= @user_show.user_name %></h1>
		<hr>
	</div>
	<div id="mainScroll">
			<div id="collectionView">
					<% @user_show.gifs.each do |gif| %>
						<div>
							<img src="<%= gif.url %>">
						</div>
					<% end %>
			</div>
	</div>
</div>	
<%= render "shared/usersearch" %>