<div class="col-sm-3 pull-left" id="sidebar">
	<%= render "shared/sidebar" %>
</div>
<div class="col-sm-9 pull-right" id="mainView">
	<div id="userCollInfo">
		<%= cl_image_tag(@user.picture, :width => 140, :height => 140, :crop => :fill) %>
		<h1>Your public profile.</h1>
		<p class="notification"></p>
		<hr>
	</div>
	<div class="profScroll">
		<div id="profView">
			<% @current_user.posts.each do |post| %>
							<div class="well">
								<div class="opImgDiv" imgId="<%= post.id %>" imgUrl="<%= post.url %>">
								<img class="show" src="https://cdn4.iconfinder.com/data/icons/geomicons/32/672382-expand-128.png"><img class="delete" src="http://freeiconbox.com/icon/256/12960.png"><img class="post" src="https://d30y9cdsu7xlg0.cloudfront.net/png/18962-200.png"></div>
								<img src="<%= post.url %>">
								<p><%= post.created_at %></p>
							</div>
			<% end %>
		</div>
	</div>
</div>	
<%= render "shared/usersearch" %>